flows.json.txt
[{"id":"e7c89970.ad9318","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"3d1a5e7f.dc2352","type":"function","z":"e7c89970.ad9318","name":"","func":"msg.payload=msg.payload.input;\nreturn msg;","outputs":1,"noerr":0,"x":357,"y":370.20001220703125,"wires":[["b3d3ba71.424a2"]],"l":false},{"id":"d3d36252.9beb9","type":"function","z":"e7c89970.ad9318","name":"bot","func":"msg.payload=msg.payload.output.text[0]\nreturn msg;","outputs":1,"noerr":0,"x":543,"y":369.20001220703125,"wires":[["1fd2579d.7e8be","9aff01fe.0a3d08"]],"l":false},{"id":"9aff01fe.0a3d08","type":"debug","z":"e7c89970.ad9318","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":672.600058555603,"y":439.20001888275146,"wires":[],"l":false},{"id":"b0839b88.85cc28","type":"inject","z":"e7c89970.ad9318","name":"","topic":"hi","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":199.60000610351562,"y":256.4000015258789,"wires":[["3d1a5e7f.dc2352"]],"l":false},{"id":"8e2a7d9f.31c2a8","type":"ui_form","z":"e7c89970.ad9318","name":"","label":"","group":"ff967b15.f0ddc8","order":2,"width":0,"height":0,"options":[{"label":"enter text here","value":"input","type":"text","required":true,"rows":null}],"formValue":{"input":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":196,"y":383.20001220703125,"wires":[["3d1a5e7f.dc2352"]],"l":false},{"id":"7f4fee59.55946","type":"ui_text","z":"e7c89970.ad9318","order":0,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":-13,"y":397,"wires":[],"l":false},{"id":"1fd2579d.7e8be","type":"ui_text","z":"e7c89970.ad9318","group":"ff967b15.f0ddc8","order":3,"width":"6","height":"6","name":"","label":"","format":"{{msg.payload}}","layout":"col-center","x":676,"y":362.20001220703125,"wires":[],"l":false},{"id":"b3d3ba71.424a2","type":"watson-conversation-v1","z":"e7c89970.ad9318","name":"chatbot","workspaceid":"bbff86ef-266f-47db-847c-7a9eee0fe3f6","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/06c9b92f-7410-456e-aa0c-1954a08a1f89","timeout":"","optout-learning":false,"x":460,"y":300,"wires":[["d3d36252.9beb9"]]},{"id":"ff967b15.f0ddc8","type":"ui_group","z":"","name":"Default","tab":"d14bc7d4.7312a8","order":1,"disp":true,"width":"6","collapse":false},{"id":"d14bc7d4.7312a8","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]